<footer class="footer">
  <div class="footer-container">
    <div class="footer-column">
      <h3>Company</h3>
      <ul>
        <li><a [routerLink]="'/about-us'">About Us</a></li>
        <li><a [routerLink]="'/careers'">Careers</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>Customer Service</h3>
      <ul>
        <li><a [routerLink]="'/contact-us'">Contact</a></li>
        <li><a [routerLink]="'/faq'">FAQ</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>Legal</h3>
      <ul>
        <li><a [routerLink]="'/privacy-policy'">Privacy Policy</a></li>
        <li><a [routerLink]="'/term'">Terms of Service</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>Follow Us</h3>
      <div class="social-icons">
        <a *ngFor="let social of socials" [href]="social.url" target="_blank" rel="noopener">
          <img [ngSrc]="social.icon" width="24" height="24" alt="social icon"/>
        </a>
      </div>
    </div>

  </div>
  <div class="footer-bottom">
    <p>&copy; 2025 BookWorm. All rights reserved.</p>
  </div>
</footer>
