<div class="cards-container">
  <div
    class="card fancy-card"
    *ngFor="let book of booksToShow; let i = index">

    <!-- Use a wrapper for positioning absolute elements (like the favorite icon) -->
    <div class="card-image-wrapper" [routerLink]="'/books/' + book.id">


      <!-- The Image Section -->
      <div
        class="card-image"
        [style.backgroundImage]="'url(' + book.images + ')'">
      </div>

    </div>

    <!-- Content Area -->
    <div class="card-content">
      <!-- Title -->
      <h3 [routerLink]="'/books/' + book.id">{{ book.title }}</h3>

      <!-- Summary / Description -->
      <p>{{ book.summaries }}</p>
    </div>

    <!-- Action Bar / Footer -->
    <div class="card-footer">
      <button class="btn primary-btn" [routerLink]="['../book', book.id]">
        View Details
      </button>
    </div>
  </div>
</div>
