@use "./custom-bootstrap";
@use "./custom-material";
@use "./variables" as *;
@use "./button";

html,
body {
  box-sizing: border-box;
  background-color: $white-color;
}

body {
  margin: 0;
}

*,
*:before,
*:after {
  text-underline-offset: 4px;
  box-sizing: inherit;
}

.app-loading {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #00000052;
  top: 0;
  left: 0;
  z-index: 999999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 120px;
  }

  h2 {
    color: rgb(236, 236, 236);
  }
}

.c-container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.mat-mdc-dialog-surface {
  background-color: #fff !important;

  input {
    font-size: 16px;
    width: 100%;
    box-shadow: unset;
    outline: unset;
    height: 48px;
    padding: 0 20px;
    border-color: rgba(#000, 0.15);
    border-radius: 50rem;
  }
}

.article-text-overflow {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.mdc-line-ripple {
  &::before, &::after {
    border: none !important;
  }
}

.mat-mdc-form-field-focus-overlay, .mdc-text-field--filled, .mat-mdc-text-field-wrapper {
  background-color: unset !important;
  overflow: visible !important;
}

.mdc-text-field {
  padding: 10px 26px !important;
  border-radius: 50rem !important;
  border: 1px solid #EEEEEE !important;
  background-color: rgba(255, 255, 255, 0.75) !important;
  font-family: "Inter", "Content", sans-serif, system-ui !important;
}

.mat-mdc-menu-content, .mat-mdc-menu-content .mat-mdc-menu-item .mat-mdc-menu-item-text {
  font-family: "Inter", "Content", sans-serif, system-ui !important;
}

::placeholder {
  color: rgba(0, 0, 0, 0.3) !important;
}

mat-error {
  font-family: "Inter", "Content", sans-serif, system-ui !important;
}

.ng-otp-input-wrapper {
  & > div {
    justify-content: center;
  }
}

.pb-120px {
  padding-bottom: 120px;
}

.target-link {
  cursor: pointer;
  text-decoration: none;
  position: relative;
  padding: 4px 0;

  &.dark {
    &::before {
      background-color: #000;
    }
  }

  &.light {
    &::before {
      background-color: #fff;
    }
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: #0575e6;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }

  &.active {
    &::before {
      transform: scaleX(1);
    }
  }

  &:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
}

.mat-mdc-dialog-content, .mat-mdc-snack-bar-label {
  font-family: "Inter", "Content", sans-serif, system-ui !important;
}

.mat-mdc-dialog-surface {
  border-radius: unset !important;
  background-color: transparent !important;
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  overflow: hidden;
}
