<header class="header">
  <div class="header-container">
    <!-- Logo + Nav -->
    <div class="header-left">
      <a class="logo header-left" [routerLink]="'/'">
        <span class="material-symbols-outlined header-left">import_contacts</span>
        <h2 class="header-left">BookHaven</h2>
      </a>

      <nav class="nav-links">
        <!-- Dropdown for Browse Categories -->
        <div class="dropdown" [class.open]="isDropdownOpen">
          <div class="dropdown-trigger" (click)="toggleDropdown()">
            Browse Categories
            <span class="material-symbols-outlined dropdown-icon">expand_more</span>
          </div>

          <div class="dropdown-menu">
            <ng-container *ngFor="let category of categories">
              <button class="dropdown-link" (click)="goToCategory(category.id)">
                <span class="material-symbols-outlined category-icon">{{ category.icon }}</span>
                {{ category.name }}
              </button>
            </ng-container>
          </div>
        </div>

        <a [routerLink]="'/bestseller'">Bestsellers</a>
        <a [routerLink]="'/about-us'">About Us</a>
      </nav>
    </div>

    <!-- Search + Buttons -->
    <div class="header-right">
      <div class="search">
        <div class="search-icon">
          <span class="material-symbols-outlined">search</span>
        </div>
        <input type="text" placeholder="Search books..." />
      </div>

      <div class="auth-buttons">
        <div class="shopping-cart">
          <span class="material-symbols-outlined">shopping_cart</span>
        </div>

        <button class="login" [routerLink]="'auth/login'">Login</button>
      </div>
    </div>
  </div>
</header>
