<app-loading *ngIf="loading" message="Loading ..."></app-loading>
<div class="px-1 w-100 h-100">
  <div class="w-100 h-100 overflow-x-hidden overflow-y-auto pb-3">

    <!-- Page Heading -->
    <app-page-heading></app-page-heading>

    <!-- Cards -->
    <app-card [booksToShow]="booksToShow"></app-card>

    <!-- Router Outlet if needed -->
    <router-outlet></router-outlet>

  </div>
</div>

<div *ngIf="!loading && booksToShow.length === 0" class="not-found">
  <h2>No books found</h2>
  <a routerLink="/home" class="btn-back">Go back to home</a>
</div>



