$primary-color: #4A90E2; // A modern blue
$secondary-color: #333; // Dark text color
$light-gray: #f2f2f2; // Light gray for backgrounds
$header-bg: #fff; // White background for header
$footer-bg: #e9ecef; // Light footer background
$text-color: #5A5A5A; // Gray text color

.privacy-policy-container {
  padding: 20px;
  font-family: 'Arial', sans-serif;
  max-width: 900px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: $light-gray;

  .header {
    text-align: center;
    background-color: $header-bg;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    h1 {
      color: $primary-color;
      font-size: 2.5em;
      margin: 0;
    }

    p {
      color: $secondary-color;
      font-size: 1.1em;
      margin-top: 10px;
      margin-bottom: 0;
    }
  }

  .content {
    display: flex;
    align-items: flex-start;

    .image-container {
      flex: 1;
      padding-right: 20px;

      .book-image {
        margin-top: 30px;
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
        margin-bottom: 30px;
      }
    }

    .text-container {
      flex: 2;
      margin-left: 20px;

      h2 {
        color: $primary-color;
        margin-top: 30px;
        font-size: 1.8em;
        border-bottom: 2px solid $primary-color;
        padding-bottom: 5px;
      }

      p {
        color: $text-color;
        line-height: 1.6;
        margin-bottom: 20px;
      }
    }
  }
  img-top{
    margin-top: 20px;
  }

  @media (max-width: 600px) {
    padding: 15px;

    .content {
      flex-direction: column;

      .image-container {
        padding-right: 0;
        margin: 20px 0;
      }

      .text-container {
        margin-left: 0;
      }

      h2 {
        font-size: 1.5em;
      }
    }
  }

}
