<div class="bestsellers-header">
  <div class="header-container-like">
    <!-- Page Heading -->
    <h1>This Week's Bestsellers</h1>

    <!-- Filters -->
    <div class="filters">
      <button class="filter-btn">
        <p>Sort by: Rank</p>
        <span class="material-symbols-outlined">expand_more</span>
      </button>

      <button class="filter-btn">
        <p>Genre: All</p>
        <span class="material-symbols-outlined">expand_more</span>
      </button>

      <button class="filter-btn">
        <p>Format: All</p>
        <span class="material-symbols-outlined">expand_more</span>
      </button>

      <div class="flex-grow"></div>

      <button class="clear-btn">
        <p>Clear Filters</p>
      </button>
    </div>
  </div>
</div>
