.bestsellers-header {
  /* Center content like header and limit width */
  display: flex;
  flex-direction: column;
  align-items: center;
  //padding: 1rem;
  width: 100%;

  &.dark {
    background-color: #3173e6;
  }

  /* Inner container to control max-width and spacing like header */
  .header-container-like {
    width: 100%;
    max-width: 1320px; /* same as header */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem;
    margin: 0 auto; /* center the container */
  }

  /* Page heading */
  h1 {
    font-size: 2.5rem;
    font-weight: 900;
    color: #2a54a1; /* dark text */
    margin: 0;

    &.dark {
      color: #efeeee; /* light text in dark mode */
    }
  }

  /* Filters */
  .filters {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    align-items: center;

    .filter-btn {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 0 1rem;
      height: 2.25rem;
      border-radius: 0.5rem;
      background-color: #6ca1d5; /* Tailwind gray-200 */
      color: #ffffff; /* dark text */
      font-size: 0.875rem;
      font-weight: 500;
      transition: background-color 0.2s;
      border: none;
      outline: none;
      box-shadow: rgba(42, 84, 161, 0.48) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

      &:hover {
        background-color: #2283e4; /* Tailwind gray-300 */
      }

      .material-symbols-outlined {
        font-size: 1.25rem;
        color: #ffffff; /* Tailwind gray-500 */
      }
    }

    .clear-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 1rem;
      height: 2.25rem;
      border-radius: 0.5rem;
      box-shadow: rgba(42, 84, 161, 0.48) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
      background-color: transparent;
      color: #3173e6; /* primary blue */
      font-size: 0.875rem;
      border: none;
      outline: none;
      font-weight: 500;
      transition: background-color 0.2s;

      &:hover {
        background-color: rgba(49, 115, 230, 0.1); /* blue with alpha */
      }
    }
  }
}
