<section class="hero">
  <div class="hero-bg"
       style='background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("https://lh3.googleusercontent.com/aida-public/AB6AXuAkMeg5AgmNxLRvB60ITQRm3TDa7dNORuXNBpHI_nmE0qKQ6MT_32xgIy_B0nIIioCtV3KTYuk_t7QQ7yO45EvinBUf8pF7IF-BDE-wWwK9ZqgCVcfyUq1BsZb11G6i5WQdzqWQsO7dGSvChe3kbwwt4cO3rWmT1FLBkrqn0fPID31uYaFtS8NYKZZ2uWY4ZJ6oX-g3J150l-o3mJlerezuRLl7gEV4249hFxXizU4B_tQLhY5KSP6MJKjVuHbTW-8lUVa0289XKvyG");'>
    <div class="hero-content">
      <h1>Sharing the Love of Reading, One Book at a Time</h1>
      <h2>Discover the story behind your favorite independent online bookstore.</h2>
    </div>
  </div>
</section>
